Package: chipcie-printer
Version: 1.1-2
Section: base
Architecture: all
Depends: cups (>= 1.7.0), cups-bsd (>= 1.7.0), wget, coreutils
Maintainer: TechNICie <technicie@ch.tudelft.nl>
Description: CHipCie Printer
 The CHipCie contest printer drivers and configs
